:root {
    --primary-color: #078eed;
    --color-gray: #eee;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

main {
    background: white;
    width: 70%;
    margin: 8rem auto 8rem auto;
    padding: 4rem 8rem;
}

a {
    text-decoration: none;
}

button,
a {
    font-size: 1.6rem;
}

.upload-input {
    display: none;
}

.upload-button,
.download-link {
    padding: 8px 18px;
    border-radius: 2px;
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    transition: all 0.2s;
}

.upload-button {
    display: block;
    margin: 0 auto;
}

.download-link-container {
    text-align: center;
}

.upload-button:hover,
.download-link:hover {
    background-color: var(--primary-color);
    color: white;
}

.pdf-metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}

.pdf-navigation-buttons {
    font-size: 3rem;
}

.pdf-navigation-button:hover {
    color: var(--primary-color);
}

.loader {
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    border: 1rem solid var(--color-gray);
    border-top: 1rem solid var(--primary-color);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pdf-canvas {
    margin-top: 2rem;
    outline: 2px solid #eee;
}

.loader,
.pdf-metadata,
.pdf-canvas {
    display: none;
}

.pdf-metadata.display {
    display: flex;
}

.loader.display,
.pdf-canvas.display,
.download-link-container.display {
    display: block;
}
