*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --top-height: 50px;
}

.top {
  grid-area: top;
  background: #eee;
}

.left {
  grid-area: left;
  background: #F1F1F1;
}

.main {
  grid-area: main;
  height: calc(100vh - var(--top-height));
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: var(--top-height) 1fr;
  grid-template-areas: 
    "top top"
    "left main";
}
